<div>
<carousel [isAnimated]="true">
    <slide>
        <img src="../../../assets/images/nature/1.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../../assets/images/nature/2.png" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../../assets/images/nature/3.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../../assets/images/nature/4.png" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../../assets/images/nature/5.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>
</div>
<div>

    
    <div class="text-content">
        <h2>All the skills you need in one place</h2>
        <h5><small>From critical skills to technical topics, SmartLearn by Edx supports your professional
                development.</small></h5>
    </div> 

    <div class="cta-container">
        <button class="cta-btn">Explore Courses</button>
    </div> 

</div>
